.sidebar {
  background-color: var(--primary-clr);
  color: var(--text-clr);
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  gap: 40px;
  grid-row: 1 / -1;
  height: 100vh;
  padding: 15px;
  position: fixed;
  width: 20%;
}

/* .sidebar img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(235deg) brightness(103%) contrast(96%);;
} */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
.logo-wrapper {
  align-items: center;
  display: flex;
  gap: 15px;
}

li {
  margin-bottom: 15px;
}

li:last-child {
  margin-bottom: 0;
}

nav img {
  width: clamp(20px, 9%, 50px);
}

.logo-wrapper img {
  width: clamp(50px, 15%, 150px);
}
