html, body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template: minmax(150px, 1fr) 5fr / 1fr 4fr;
}

header {
  background-color: yellowgreen;
  grid-column: 2 / -1;
  display: grid;
  grid-template: 1fr 1.5fr / 2fr 1fr;
  padding: 20px 40px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

input[type=search] {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: rgb(223, 215, 215);
  
}

.account {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile h1 {
  margin: 0;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background-color: cadetblue;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  color: #fff;
}

.icon {
  width: clamp(20px, 3%, 50px);
}

.profile-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: goldenrod;
}

.sidebar {
  background-color: tomato;
  grid-row: 1 / -1;
  font-size: 1.2rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li,
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

li {
  margin-bottom: 15px;
}

li:last-child {
  margin-bottom: 0;
}

nav img {
  width: clamp(20px, 9%, 50px);
}

.logo-wrapper img {
  width: clamp(50px, 15%, 150px);
}

main {
  background-color: lime;
  /* height: 100%; */
  display: grid;
  grid-template: 1fr 1fr / 2.5fr 1fr;
  padding: 30px 20px;
  column-gap: 15px;
  row-gap: 25px;
}

main > div {
  border: 1px solid;
}

.projects {
  grid-row: 1 / -1;
}

.projects .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.projects .content > div {
  flex-basis: 350px;
  border: 1px solid;
}

.trending {
  grid-column: 2 / -1;
}