@import url(announcements.css);
@import url(projects.css);
@import url(trending.css);

.announcements .content,
.trending .content {
  background-color: var(--main-clr);
  border-radius: 5px;
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

main {
  color: var(--text-clr);
  column-gap: 15px;
  display: grid;
  grid-template: repeat(2, auto) / 2.5fr 1fr;
  padding: 30px 20px;
  row-gap: 25px;
}

main h2 {
  margin-top: 0;
}
