.trending {
  grid-column: 2 / -1;
}

.trending .content > div {
  column-gap: 10px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr;
  margin-bottom: 10px;
}

.trending .profile-img {
  grid-row: 1 / -1;
}

.trending .username {
  align-self: center;
  font-weight: 600;
}
